// Override Bootstrap Variables here
// see http://getbootstrap.com/customize/ for list of variables
$navbar-inverse-color: teal;
$navbar-inverse-link-color: teal;
$navbar-inverse-bg: #444;
/*$navbar-inverse-link-active-bg: darken($navbar-inverse-bg, 10%);*/
$navbar-inverse-link-active-bg: darken($navbar-inverse-color, 10%);

// Import Boostrap SCSS
@import '{reywood:bootstrap3-sass}/bootstrap'; // https://github.com/englue/meteor-bootstrap3-sass

$profile-image-color: #008080;
$profile-image-size: 100px;

.img-profile {
    border: 3px solid $profile-image-color;
    width: $profile-image-size;
    height: $profile-image-size;
}

#containerButton {
    .row {
        margin-top: 10px;
        margin-top: 10px;
    }
}
